# LOCKED_MARTIN requirements
# USAGE : pip install -r requirements.txt

# BASE ----------------------------------
numpy
opencv-python
opencv-contrib-python
tk
pillow
scipy
pyzbar
pygame

# Tello ---------------------------------
djitellopy
av==8.0.3
